.container{
    background: rgba(0, 0, 0, 0.2);
    margin: 0px;
    padding: 0px;
}

.searchBarContainer :global(.vtex-input-prefix__group){
    border: unset;
    border-radius: unset;
    border-bottom: #fff 1px solid;
}

.searchBarContainer {
    width: 550px;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input),
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder,
.searchBarContainer :global(.vtex-input__suffix)
{
    background: unset;
    font-weight: unset;
    font-family: "Montserrat";
    color: #fff !important;
    text-transform: uppercase;
}

.searchBarIcon {
    color: #fff;
}


.slideContainer {
    width: 912px;
    margin: auto;
    margin-top: 0px;
}


.imageElement--sliderItem {
    width: 100%;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}


.sliderArrows {
    overflow: hidden;
    position: absolute;
    color: white;
    margin-top: 355px;
    margin-left: 255px;
    margin-right: 255px;
}

.paginationDot {
    margin-top: 250px;
}



